---
import { ViewTransitions } from "astro:transitions";
import "@/styles/global.css";
---

<html lang="ja">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8" />
        <link rel="icon shortcut" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <title>住所特定ツール v3</title>
        <meta
            name="description"
            content="住所特定ツール v3 | Domain spoofing, Fake OGP, Realtime, Good UI, High Level"
        />
        <meta name="keywords" content="amex2189,ame_x" />
        <meta name="creator" content="@EdamAme-x" />
        <meta name="publisher" content="@EdamAme-x" />
        <meta name="robots" content="index, follow" />
        <meta property="og:title" content="住所特定ツール v3" />
        <meta
            property="og:description"
            content="住所特定ツール v3 | Domain spoofing, Fake OGP, Realtime, Good UI, High Level"
        />
        <meta property="og:url" content="https://tokutei-v3.ame-x.net" />
        <meta property="og:site_name" content="住所特定ツール v3" />
        <meta property="og:locale" content="ja_JP" />
        <meta property="og:image" content="https://tokutei-v3.ame-x.net/favicon.png" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="住所特定ツール v3" />
        <meta
            name="twitter:description"
            content="住所特定ツール v3 | Domain spoofing, Fake OGP, Realtime, Good UI, High Level"
        />
        <meta name="twitter:image" content="https://tokutei-v3.ame-x.net/favicon.png" />
        <ViewTransitions />
    </head>
    <body class="dark">
        <slot />
    </body>
</html>
